<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>
    Welcome to <%= title %> page
  </p>

  <div class="aboutMe">
    <div class="introduction">
        <p>My name is <strong>Zhen Xu</strong>.</p> 
          <p>I am a current student of<strong> Software Engineering Technology</strong> Advanced Diploma at Centennial College.</p>
          <p>I learned how to program in C#, HTML, CSS, JavaScript in the previous semesters.</p>
          <p>I enjoy playing chess, watching movies, and doing some casual coding.</p>
          <!---A link to my resume-->
          <a href="https://drive.google.com/file/d/1xRsnfjr0fMKy-bWscOcIuB8evDEmUtym/view?usp=sharing" target="_blank">My Resume</a>
    </div>

    <div class="contactInfo">
      <img class="selfie" src="./assets/images/selfie.jpg" alt="">
      <Strong style="display: block;">Zhen Xu</Strong>
      <p>Phone: (416)710-4222</p>
      <a href="mailto:zachar1xu@gmail.com">Email: zachar1xu@gmail.com</a>
    </div>

  </div>
</div>