<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>
    Welcome to <%= title %> page
  </p>
  <!-- A picture on the left side -->
  <div class="homePic">
    <img src="./assets/images/homePage1.jpg" alt="Fight For Future" height="400px" width="300px">
  </div>
  <div class="mission">

    <!-- Mission Statement on right side-->
    <h3>Mission Statement</h3>

    <p >
      To be a professional programmer that writes excellent and consistent codes. </p>
    <p >
      To develop products that is user-friendly in a more agile way. </p>
    <p >
      To keep the dedication of learning new technologies, providing the highest level of expertise.
    </p>

  </div>


</div>