<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>
    Welcome to <%= title %> page
  </p>
  <!-- Project Section with 3 different projects displayed vertically-->
  <div class="project">
    <h2>Project 1</h2>
    <div>
      <img src="./assets/images/project1.png" alt="">
      <p>This is a GPA calculator that allows students to enter their grades manually, after which the calculator will
        display their GPAs. All coding was done by C#.</p>
    </div>
  </div>

  <div class="project">
    <h2>Project 2</h2>
    <div>
      <img src="./assets/images/project2.png" alt="" >
      <p>This is a assignment from web interface design course that I designed a web interface for my choice which was
        laptops. </p>
    </div>
  </div>

  <div class="project">
    <h2>Project 3</h2>
    <div>
      <img src="./assets/images/project3.png" alt="" style ="margin-bottom: 100px">
      <p>This is the final project for database course where I simulated a relational database of given topic, including
        creating tables, drawing ER diagram, and inserting records.</p>
    </div>
  </div>

</div>