<div class="container">
     
      <h1>I offer the following services</h1>
      <div class="service">
      <div class="service1">
        <h3>Technical Support</h3>
        <img src="./assets/images/service1.jpg" alt="">
        
      </div>
      <div class="service2">
        <h3>Web Interface Design</h3>
        <img src="./assets/images/service2.jpeg" alt="">
      </div>
      <div class="service3">
        <h3>Software Development</h3>
        <img src="./assets/images/service3.png" alt=""> 
      </div>
      <div class="service">
</div>