.container {
    margin-top: 20px;
    
}
/* CSS For Home Page*/
.homePic {   
    margin-top: 20px;
    width: 400px;
    height: 100px;
    float: left;
}
.mission {
    margin-top: 100px;
    width: 600px;
    height: 100px;
    float: left;
}

/* CSS For Project Page*/
.project {
    height: 600px;

}
.project img {
    height: 500px;
    width: 600px;
    border: 5px solid skyblue;
    float:left;
}
.project p {
    width: 400px;
    float:left;
    margin-top: 100px;

    margin-left: 50px;
}
/* CSS For Service Page*/
.service {
    margin-top: 100px;
    height: 250px;
}
.service img {
    width: 350px;
    height: 200px;
    margin-right: 40px;
}
.service div {
    float: left;
}