/*
File Name: app.css
Student Name: Zhen Xu
Student ID : 301151647
Date: Oct 3, 2021
*/
.container {
    margin-top: 20px;
    
}
/* CSS For Home Page*/
.homePic {   
    margin-top: 20px;
    width: 400px;
    height: 100px;
    float: left;
}
.mission {
    margin-top: 100px;
    width: 600px;
    height: 100px;
    float: left;
}

/* CSS For Project Page*/
.project {
    height: 600px;

}
.project img {
    height: 500px;
    width: 600px;
    border: 5px solid skyblue;
    float:left;
}
.project p {
    width: 400px;
    float:left;
    margin-top: 100px;

    margin-left: 50px;
}
/* CSS For Service Page*/
.service {
    margin-top: 100px;
    height: 250px;
}
.service img {
    width: 350px;
    height: 200px;
    margin-right: 40px;
}
.service div {
    float: left;
}
/* CSS For Contact Page*/
.sendMsg {
    float: left;
    width: 500px;
    height: 500px;
}
.contactInfo {
    text-align: center;
    float: right;
    width: 500px;
    height: 500px;
    margin-bottom: 100px;
}
.selfie {
    width: 300px;
    height: 400px;
}
.sendMsg fieldset {
    width: 500px;
    border-width: 2px;
    border-radius: 10px;
    border-style:groove;
    border-color: lightgray; 
 
}
.sendMsg legend {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    float: none;
    width:auto;
    margin-left: 10px; 
}
.sendMsg label {
    width: 100px;
    text-align: right;
}
.sendMsg textarea {
    margin-left: 100px;
}
#button1 {
    border: lightgray;
    margin-top: 20px;
}
/*CSS For About Me Page*/
.introduction {
    float: left;
    margin-top: 100px;
}
.introduction a {
    text-decoration: none;
}